// Font FjallaOne
$url: "../../fonts/";

@mixin declare-font-face($url, $fontName) {
  @font-face {
    font-family: $fontName;
    src: url($url + "FjallaOne-Regular.woff") format("woff"),
      url($url + "FjallaOne-Regular.eot"),
      url($url + "FjallaOne-Regular.eot?#iefix") format("embedded-opentype"),
      url($url + "FjallaOne-Regular.ttf") format("truetype");
    font-weight: 100 299;
    font-style: normal;
    font-display: swap;
  }
}

@include declare-font-face($url, $fontName);
