.errorDisplay {
  background: $errorBgColor;
  color: $errorColor;
  border: 1px solid $errorColor;
  padding: toRem(16);
  margin: toRem(8);
  text-align: center;
  border-radius: toRem(15);
  font-family: sans-serif;
}
