.errorDisplay {
  background-color: $errorBgColor;
  color: $errorColor;
  border: 1px solid $errorColor;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  border-radius: 15px;
  font-family: sans-serif;
}
