.playButton {
  border: 1px solid $playButtonColor;
  color: $playButtonColor;
  border-radius: 100%;
  margin: toRem(16);
  background: $playButtonBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: row;
  flex-direction: row;
  font-size: toRem(40);
  min-height: 74px;
  min-width: 74px;
  box-shadow: 0 0 0 0 $playButtonBoxShadowColor;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);

  &_noPulse {
    animation: none;
  }

  svg[data-icon='play'] {
    padding: 0 0 0 toRem(8)
  }

  svg[data-icon='stop'] {
    padding: 0;
  }

  &:hover {
    background: $playButtonBgColorHover;
    color: $playButtonColorHover;
    cursor: pointer;
    animation: none;
  }
}
