.radioFlag {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 56px;
  margin-right: 16px;
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.38);
  border-radius: 6px;
}
