$fontName: 'FjallaOne-Regular';
$bgColorPlayer: #fffaee;
$borderColor: orange;
$colorButton: #f26600;
$bgColorButton: white;
$colorButtonHover: white;
$bgColorButtonHover: #f26600;
$errorColor: rgb(223, 1, 1);
$errorBgColor: rgb(250, 223, 223);

// Theme light or night
$bodyDataFirstBgColorMdBlack: black;
$bodyDataFirstBgColorMdBlue1: #0071b3;
$bodyDataFirstBgColorMdBlue2: #006cd1;
$bodyDataSecondBgColorMdWhite: white;
$bodyDataSecondBgColorMdBlue1: #3cb7ff;
$bodyDataSecondBgColorMdBlue2: #55adff;
$lightButtonBgColor: #88d9ff;
$nightButtonBgColor: #383838;
