$fontName: 'FjallaOne-Regular';
$bgColorPlayer: #fffaee;
$borderColor: orange;
$colorButton: #f26600;
$bgColorButton: white;
$colorButtonHover: white;
$bgColorButtonHover: #f26600;
$errorColor: rgb(223, 1, 1);
$errorBgColor: rgb(250, 223, 223);
