// Fonts
$fontsPath: '/fonts/';

// Space Ranger font
$fontNameFileSpaceRanger: 'FjallaOne-Regular';
$fontNameSpaceRanger: 'FjallaOne-Regular';
@include declareFontFace($fontsPath, $fontNameFileSpaceRanger, $fontNameSpaceRanger);