.controlVolume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', $fontName;
  margin-right: 3rem;

  span {
    margin-right: 0.5rem;
  }

  .controlVolume_volumeRange {
    margin-right: 0.5rem;

    // Range Reset
    appearance: none;
    background: transparent;
    cursor: pointer;

    // Removes default focus
    &:focus {
      outline: none;
    }

    // Chrome, Safari, Opera and Edge Chromium styles
    &::-webkit-slider-runnable-track {
      background-color: $borderColor;
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      margin-top: -12px;
      background-color: $colorButton;
      height: 2rem;
      width: 1rem;

      // Custom focus styles
      &:focus {
        border: 1px solid $colorButton;
        outline: 3px solid $colorButton;
        outline-offset: 0.125rem;
      }
    }

    // Firefox styles
    &::-moz-range-track {
      background-color: $borderColor;
      border-radius: 0.5rem;
      height: 0.5rem;
    }

    &::-moz-range-thumb {
      border: none;
      border-radius: 0;
      background-color: $colorButton;
      height: 2rem;
      width: 1rem;

      // Custom focus styles
      &:focus {
        border: 1px solid $colorButton;
        outline: 3px solid $colorButton;
        outline-offset: 0.125rem;
      }
    }
  }
}
