.radioItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  &_radioName {
    font-size: toRem(16);
    font-weight: 600;
    font-family:
      'FjallaOne-Regular',
      -apple-system,
      sans-serif;
    letter-spacing: 1px;
    margin: 0;
    color: $radioInfosNameColor;
    border: none;
    background: transparent;
    padding: 0;
    text-transform: capitalize;
    text-align: left;
  }

  &_radioInfos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: $radioInfosColor;
    font-size: toRem(16);
  }

  svg {
    width: 30px;
    height: 20px;
    margin-right: 16px;
  }
}
