.radioList {
  margin: 1rem;
  min-width: 182px;

  &--off {
    cursor: initial;
    filter: grayscale(100%);
    color: gray;

    &:hover {
      .radioItemWrapper {
        pointer-events: none;
      }
    }
  }
}
