.radioItemWrapper {
  width: 100%;
  margin: toRem(8) 0 toRem(8) 0;
  background: $radioItemBgColor;
  border-radius: 10px;
  border: 1px solid $radioItemborderColor;
  padding: toRem(8);
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;

  &:hover {
    background: $radioItemBgHoverColor;
    border: 1px solid $radioItemBorderHoverColor;

    .radioItem_radioName,
    .radioItem_radioInfos {
      color: $radioItemHoverColor;
    }
  }
}
